body{
    background: url('images/xmas-bg.jpg');
    background-size: cover;
    background-position-y: 45%;
}
.content-wrapper{
    background:url('images/content-bg.jpg');
    height:400px;
    width:100%;
    margin-top:130px;
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    border:solid 5px #b64340;
    border-radius:8px;
}
.index{
    text-align:left;
    color:green;
    font-family:'Mountains of Christmas';
    font-weight:bold;
    font-size:24px;
}
/************************************** HOME ***********************************/

.welcome-title{
    font-size:36px;
    font-weight:bold;
    padding-top:50px;
    padding-bottom:10px;
    font-family:'Mountains of Christmas';
    color:#b64340;
}
.welcome-title2{
    font-size:20px;
    padding: 0px 100px;
    font-family: 'Ubuntu';
}
.welcome-wrapper a{
    background:green;
    padding:15px 32px;
    color:white;
    border-radius:10px;
    transition: 0.1s ease-in-out;
}
.welcome-wrapper a:hover{
    text-decoration:none;
    background:#b64340;
}
.welcome-wrapper .btn-wrapper{
    margin-top:100px;
}


/************************************** PUZZLE1 ***********************************/


.puzzle1-title{
    font-size:36px;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:10px;
    font-family:'Mountains of Christmas';
    color:#b64340;
}
.puzzle1-title2{
    font-size:20px;
    padding: 0px 50px 20px 50px;
    font-family: 'Ubuntu';
}
.puzzle1-wrapper button{
    background:green;
    padding:15px 32px;
    color:white;
    border-radius:10px;
    transition: 0.1s ease-in-out;
}

.puzzle1-wrapper a:hover{
    text-decoration:none;
    background:#b64340;
}
.puzzle1-btn-wrapper{
    margin-top:15px;
}
.puzzle1-btn-wrapper div{
    color:red;
}

.puzzle1-code-input{
    margin-top:0px;
}
.puzzle1-code-input input{
    width:50px;
    height:50px;
    border-radius:10px;
    font-size:28px;
    text-align:center;
}
.congrats{
    display:none;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
.congrats .congrats-title{
    font-size:52px;
    font-weight:bold;
    padding-bottom:10px;
    font-family:'Mountains of Christmas';
    color:#b64340;
}
.congrats img{
    width:100px;
}
.puzzle1-congrats-btn{
    margin-top:30px;
}
.puzzle1-congrats-btn a{
    background:green;
    padding:15px 32px;
    color:white;
    border-radius:10px;
    transition: 0.1s ease-in-out;
}
.puzzle1-congrats-btn a:hover{
    text-decoration:none;
    background:#b64340;
}
.puzzle1-btn-wrapper .oops{
    display:none;
    font-weight:bold;
    margin-top:10px;
}
.oops-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}
.oops img{
    width:40px;
    margin-left:10px;
}


/* PUZZLE 5 */

.puzzle5-color-bg1{
    background:rgb(24, 150, 62);
}

.puzzle5-color-bg2{
    background:rgb(245, 80, 15);
}

.puzzle5-color-bg3{
    background:rgb(214, 5, 68);
}

.puzzle5-color-bg4{
    background:rgb(13, 136, 185);
}

.puzzle5-color-bg5{
    background:rgb(86, 4, 94);
}

/* Puzzle 7 */

.puzzle1-title2 span{
    color:rgb(89, 231, 23);
}

#final-tent{
    width:200px;
    margin-top:5px;
}
#final-title{
    padding-top:0px;
}

.blacklight{
    margin-top:50px;
}